{% if paginate.pages > 1 %}
  <div>
    <ul class="pagination clearfix p0">
    {% if paginate.previous %}
    	<li><a href="{{ paginate.previous.url }}" class="prev">&lt; prev</a></li>
    {% else %}
        <li>&lt; prev</li>
    {% endif %}
    	<li>{{ paginate.current_page }} of {{ paginate.pages }}</li>
    {% if paginate.next %}
    	<li><a href="{{ paginate.next.url }}" class="next">next &gt;</a></li>
    {% else %}
    	<li>next &gt;</li>
    {% endif %}
    </ul>
  </div>
{% endif %}